@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Agile Game</title>
    </head>
    <body>
        <div>
              <h1>Agile Game</h1>
        </div>
    </body>
</html>